html, body {
	font-family: 'Robert Mono', monospace;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

#allContent {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#topBar {
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: 50%;
	color: #fff;
	background-color: crimson;
}

#countdownContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#timer {
	color: #fff;
	font-size: 10em;
	text-align: center;
}

#inputContainer {
	width: 100vw;
}

#textInput {
	display: inline-block;
}

input[type=text] {
	border: none;
	border-bottom: 0.05em solid #fff;
	background: transparent;
	width: 20em;
	font-size: 2em;
	color: #fff;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 0.08em solid #fff;
}

::placeholder {
	color: #fff;
}

/* Customize the label (the container) */

#checkboxContainer {
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */

#checkboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */

#checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	transition-duration: 0.4s;
}

/* On mouse-over, add a grey background color */

#checkboxContainer:hover input~#checkmark {
	background-color: #8F8;
}

/* When the checkbox is checked, add a blue background */

#checkboxContainer input:checked~#checkmark {
	background-color: #8F8;
}

/* Create the checkmark/indicator (hidden when not checked) */

#checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */

#checkboxContainer input:checked~#checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */

#checkboxContainer #checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*
input[type=checkbox] {
	visibility: hidden;
}

.taskCheck {
	position: absolute;
	display: inline-block;
	margin-right: 5em;
	height: 1.5em;
	width: 1.5em;
	background: tarnsparent;
	border: 0.1em solid #fff;
}

.taskCheck:hover input ~ .checkmark {
  border: 0.2em;
}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}
*/

#buttons {
	text-align: center;
}

.circleButton {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-radius: 50%;
	border-style: solid;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.4s;
	color: #fff;
	background: transparent;
	/* These are usually set in the individual id sections of this CSS file */
	border-color: #000;
}

.circleButton:hover {
	color: #000;
}

#startButton {
	border-color: #8F8;
}

#startButton:hover {
	background: #8F8;
}

#pauseButton {
	border-color: #facd7f;
}

#pauseButton:hover {
	background: #facd7f;
}

#continueButton {
	border-color: #8F8;
}

#continueButton:hover {
	background: #8F8;
}

#stopButton {
	border-color: #fa787e;
}

#stopButton:hover {
	background: #fa787e;
}